### Data Wrangling

In [56]:
import pandas as pd
import numpy as np
import re

In [57]:
# Import the CSVs

api = pd.read_csv('./data/raw/API.csv')
career = pd.read_csv('./data/raw/career_info.csv')
country = pd.read_csv('./data/raw/country_info.csv')
personal = pd.read_csv('./data/raw/personal_info.csv')
codes = pd.read_csv('./data/raw/countrys_codes.csv')
poll = pd.read_csv('./data/raw/poll_info.csv')

In [58]:
# Cambiamos el nombre de la columna uuid de api por normalized_job_code

api['normalized_job_code'] = api['uuid']
api.drop(columns = ['uuid'], inplace = True)

In [59]:
career.merge(api, on = 'normalized_job_code')

,uuid,dem_education_level,dem_full_time_job,normalized_job_code,title,normalized_job_title,parent_uuid
0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,Automatic Data Processing Planner,automatic data processing planner,0148f61d4227497728ce33490843d056
1,cf24ed60-da3f-0133-0034-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,Automatic Data Processing Planner,automatic data processing planner,0148f61d4227497728ce33490843d056
2,9ffc7390-dba5-0133-259b-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,Automatic Data Processing Planner,automatic data processing planner,0148f61d4227497728ce33490843d056
3,a6361230-da58-0133-cd5a-0a81e8b09a82,medium,yes,861a9b9151e11362eb3c77ca914172d0,Automatic Data Processing Planner,automatic data processing planner,0148f61d4227497728ce33490843d056
4,1e2b4750-d987-0133-3c7c-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,Automatic Data Processing Planner,automatic data processing planner,0148f61d4227497728ce33490843d056
...,...,...,...,...,...,...,...
5697,1cb1aac0-d94c-0133-8baa-0a81e8b09a82,high,yes,4cee16550636e292b8d136486fce943b,Data Capture Clerk,data capture clerk,bf88358c56bb6cbe7eabec38ae333d19
5698,c8c33390-da69-0133-063a-0a81e8b09a82,medium,yes,4cee16550636e292b8d136486fce943b,Data Capture Clerk,data capture clerk,bf88358c56bb6cbe7eabec38ae333d19
5699,d27d24d0-d9b1-0133-03d4-0a81e8b09a82,high,yes,4cee16550636e292b8d136486fce943b,Data Capture Clerk,data capture clerk,bf88358c56bb6cbe7eabec38ae333d19
5700,529f3080-d99a-0133-1b7b-0a81e8b09a82,no,yes,4cee16550636e292b8d136486fce943b,Data Capture Clerk,data capture clerk,bf88358c56bb6cbe7eabec38ae333d19
5701,0349c9d0-d9a1-0133-a38c-0a81e8b09a82,high,yes,4cee16550636e292b8d136486fce943b,Data Capture Clerk,data capture clerk,bf88358c56bb6cbe7eabec38ae333d19

In [60]:
api_career = api.merge(career, on = 'normalized_job_code')

In [61]:
api_career

,title,normalized_job_title,parent_uuid,normalized_job_code,uuid,dem_education_level,dem_full_time_job
0,Automatic Data Processing Planner,automatic data processing planner,0148f61d4227497728ce33490843d056,861a9b9151e11362eb3c77ca914172d0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes
1,Automatic Data Processing Planner,automatic data processing planner,0148f61d4227497728ce33490843d056,861a9b9151e11362eb3c77ca914172d0,cf24ed60-da3f-0133-0034-0a81e8b09a82,high,yes
2,Automatic Data Processing Planner,automatic data processing planner,0148f61d4227497728ce33490843d056,861a9b9151e11362eb3c77ca914172d0,9ffc7390-dba5-0133-259b-0a81e8b09a82,high,yes
3,Automatic Data Processing Planner,automatic data processing planner,0148f61d4227497728ce33490843d056,861a9b9151e11362eb3c77ca914172d0,a6361230-da58-0133-cd5a-0a81e8b09a82,medium,yes
4,Automatic Data Processing Planner,automatic data processing planner,0148f61d4227497728ce33490843d056,861a9b9151e11362eb3c77ca914172d0,1e2b4750-d987-0133-3c7c-0a81e8b09a82,high,yes
...,...,...,...,...,...,...,...
5697,Data Capture Clerk,data capture clerk,bf88358c56bb6cbe7eabec38ae333d19,4cee16550636e292b8d136486fce943b,1cb1aac0-d94c-0133-8baa-0a81e8b09a82,high,yes
5698,Data Capture Clerk,data capture clerk,bf88358c56bb6cbe7eabec38ae333d19,4cee16550636e292b8d136486fce943b,c8c33390-da69-0133-063a-0a81e8b09a82,medium,yes
5699,Data Capture Clerk,data capture clerk,bf88358c56bb6cbe7eabec38ae333d19,4cee16550636e292b8d136486fce943b,d27d24d0-d9b1-0133-03d4-0a81e8b09a82,high,yes
5700,Data Capture Clerk,data capture clerk,bf88358c56bb6cbe7eabec38ae333d19,4cee16550636e292b8d136486fce943b,529f3080-d99a-0133-1b7b-0a81e8b09a82,no,yes
5701,Data Capture Clerk,data capture clerk,bf88358c56bb6cbe7eabec38ae333d19,4cee16550636e292b8d136486fce943b,0349c9d0-d9a1-0133-a38c-0a81e8b09a82,high,yes

In [62]:
codes['country_code'] = codes['Codes']

In [63]:
codes.drop(columns = ['Codes'], inplace = True)
codes

                   Country country_code
0                  Belgium           BE
1                   Greece           EL
2                Lithuania           LT
3                 Portugal           PT
4                 Bulgaria           BG
5                    Spain           ES
6               Luxembourg           LU
7                  Romania           RO
8                  Czechia           CZ
9                   France           FR
10                 Hungary           HU
11                Slovenia           SI
12                 Denmark           DK
13                 Croatia           HR
14                   Malta           MT
15                Slovakia           SK
16                 Germany           DE
17                   Italy           IT
18             Netherlands           NL
19                 Finland           FI
20                 Estonia           EE
21                  Cyprus           CY
22                 Austria           AT
23                  Sweden           SE
24                 Ireland           IE
25                  Latvia           LV
26                  Poland           PL
27               Argentina           AR
28  China except Hong Kong      CN_X_HK
29                  Mexico           MX
30            South Africa           ZA
31               Australia           AU
32               Hong Kong           HK
33                 Nigeria           NG
34             South Korea           KR
35                  Brazil           BR
36                   India           IN
37             New Zealand           NZ
38                  Taiwan           TW
39                  Canada           CA
40                   Japan           JP
41               Singapore           SG
42           United States           US

In [64]:
country_code = codes.merge(country, on = 'country_code')

In [65]:
country_code

      Country country_code                                  uuid      rural
0     Belgium           BE  dcab3aa0-dc79-0133-412b-0a81e8b09a82      urban
1     Belgium           BE  2fb4da70-dcef-0133-cafd-0a81e8b09a82      urban
2     Belgium           BE  73771070-d8ec-0133-ae53-0a81e8b09a82      urban
3     Belgium           BE  3aa979b0-d93d-0133-c00b-0a81e8b09a82      rural
4     Belgium           BE  11c6e300-deb8-0133-5b60-0a81e8b09a82      urban
...       ...          ...                                   ...        ...
8220   Poland           PL  a1ceab50-da22-0133-ea30-0a81e8b09a82      urban
8221   Poland           PL  74fec3c0-db5b-0133-dab4-0a81e8b09a82      urban
8222   Poland           PL  f8dc4450-da13-0133-97bb-0a81e8b09a82  Non-Rural
8223   Poland           PL  91b54950-d911-0133-c958-0a81e8b09a82       city
8224   Poland           PL  61bb2d30-dafb-0133-aa1e-0a81e8b09a82      rural

[8225 rows x 4 columns]

In [66]:
country_code_api_career = country_code.merge(api_career, on = 'uuid')

In [67]:
country_code_api_career.columns

Index(['Country', 'country_code', 'uuid', 'rural', 'title',
       'normalized_job_title', 'parent_uuid', 'normalized_job_code',
       'dem_education_level', 'dem_full_time_job'],
      dtype='object')

In [68]:
# Delete the excess columns

country_code_api_career.drop(columns = ['country_code', 'uuid', 'normalized_job_title', 'parent_uuid', 'normalized_job_code',
       'dem_education_level', 'dem_full_time_job'], inplace = True)

In [69]:
country_code_api_career.to_csv('./data/processed/processed.csv', index = False)